@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css');

/*-------------- Font Family ---------------*/

@font-face {
    font-family: 'FuturaPT-Heavy';
    src: url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Heavy.otf') format('opentype'),
    url('../fonts/FuturaPT-Heavy.woff') format('woff'), url('../fonts/FuturaPT-Heavy.ttf') format('truetype'), url('../fonts/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Demi';
    src: url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Demi.otf') format('opentype'),
    url('../fonts/FuturaPT-Demi.woff') format('woff'), url('../fonts/FuturaPT-Demi.ttf') format('truetype'), url('../fonts/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Medium';
    src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Medium.otf') format('opentype'), url('../fonts/FuturaPT-Medium.woff') format('woff'), url('../fonts/FuturaPT-Medium.ttf') format('truetype'), url('../fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Book.woff2') format('woff2'), url('../fonts/FuturaPT-Book.woff') format('woff'), url('../fonts/FuturaPT-Book.ttf') format('truetype'), url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Light';
    src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Light.otf') format('opentype'), url('../fonts/FuturaPT-Light.woff') format('woff'), url('../fonts/FuturaPT-Light.ttf') format('truetype'), url('../fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Bold';
    src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Bold.otf') format('opentype'), url('../fonts/FuturaPT-Bold.woff') format('woff'), url('../fonts/FuturaPT-Bold.ttf') format('truetype'), url('../fonts/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-------------- Reset Css ---------------*/

::selection {
    background: rgba(14, 120, 174, 0.6);
    color: #fff;
}

::-moz-selection {
    background: rgba(14, 120, 174, 0.6);
    color: #fff;
}

a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

*:focus {
    outline: none !important
}

img {
    max-width: 100%
}

strong,
b {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

.clr {
    border: 0;
    clear: both;
    height: 0;
}


html,
body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.display-table {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.preloader {
    background: #F1F2F1;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
    height: 100%;
    width: 100%;
}

.preloader span {
    display: block;
    height: auto;
    margin: auto;
    width: 400px;
    color: #000;
}

body {
    background: #fff;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    overflow-x: hidden;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 0 !important;
}

p {
    font-size: 17px;
    color: #565656;
    font-weight: 300;
    font-family: 'FuturaPT-Light';
    line-height: 1.6;
}

/*-------------- Header Section ---------------*/

header {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background: #fff;
    padding: 20px 0 15px;
}

.nav_part {
    display: block;
    width: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.nav_part .logo {
    float: left;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.right_part {
    float: right;
}

.rqst_btn {
    font-size: 17px;
    color: #fff;
    background: #1c75bc;
    text-transform: uppercase;
    padding: 10px 13px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'FuturaPT-Demi';
    margin: 0 0 0 14px;
    letter-spacing: 1px;
}

.nav_part nav {
    float: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.nav_part ul {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.nav_part ul li {
    display: inline-block;
    position: relative;
    margin: 0 0 0 35px;
}

.nav_part ul li a {
    color: #000;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'FuturaPT-Medium';
    padding-bottom: 29px;
}

.caret {
    vertical-align: middle;
    position: relative;
    top: -3px;
    left: 4px;
}

.nav_part ul li a:hover,
.nav_part ul li a:focus,
.phn a:hover,
.nav_part ul li.current-menu-item a,
.nav_part ul li.cuurent-menu-parent a,
.post_box li a:hover {
    color: #148fcf;
}

.nav_part ul li .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    min-width: 210px;
    text-align: left;
    z-index: 99;
    left: -15px;
    -webkit-transform: translateY(-2em);
    -ms-transform: translateY(2em);
    transform: translateY(2em);
    -webkit-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background: #ffffff;
    pointer-events: none;
    top: 47px;
}

.nav_part ul li .sub-menu li {
    display: block;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.nav_part ul li .sub-menu li:first-child {
    border-top: none;
}

.nav_part ul li .sub-menu li:last-child {
    border-bottom: none;
}

.nav_part .main-menu > li.current-menu-item > a,
.nav_part .main-menu > li.current-menu-parent > a {
    color: #ee2024;
}

.nav_part ul li .sub-menu li a {
    color: #000000;
    font-size: 16px;
    display: block;
    padding: 13px 15px;
    -webkit-transition: padding 0.3s ease-in-out 0s;
    -o-transition: padding 0.3s ease-in-out 0s;
    transition: padding 0.3s ease-in-out 0s;
}

.nav_part ul li .sub-menu li:hover {
    background: rgba(28, 117, 188, 0.92) none repeat scroll 0 0;
}

.nav_part ul li .sub-menu li:hover a {
    color: #ffffff;
}

.nav_part ul li .sub-menu li {
    margin: 0;
}

.nav_part ul li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    pointer-events: auto;
}

.nav_part ul li > .sub-menu > li > .sub-menu {
    left: 100%;
    top: 0;
}

.contact_dtls {
    width: auto;
    float: right;
    margin: -8px 0 15px;
}

.contact_dtls_info .bx {
    display: flex;
    justify-content: space-between;
}

.contact_dtls_info .foot_icon,
.contact_dtls_info .foot_info {
    align-self: center;
}

.phn {
    float: left;
}

.phn a {
    color: #010101;
    font-size: 18px;
    font-family: 'Futura PT Book';
    display: inline-block;
    margin: 0 12px;
}

.phn i {
    color: #1c75bc;
    margin: 0 8px 0 0;
}

.contact_dtls ul {
    float: right;
}

/*-------------- Sticky Header Section ---------------*/

header.sticky {
    position: fixed;
    box-shadow: 0 0 8px #000;
    top: 0;
    width: 100%;
    z-index: 999;
}

header.sticky .nav_part ul li {
    font-size: 14px;
}

header.sticky .submenu {
    top: 51px;
}

header.sticky .submenu li a h3 {
    font-size: 17px;
}

header .nav_part .menu-item.menu-item-has-children > a::after {
    content: "\f0d7";
    font-family: "FontAwesome";
    margin-left: 5px;
    position: relative;
    top: 1px;
}

/*-------------- Banner Section ---------------*/

.home-banner {
    height: 702px;
    position: relative;
    overflow: hidden;
}

.home-banner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
}

.home-banner .container,
.page-banner .container {
    position: relative;
    height: 100%;
}

.info_caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: left;
    right: 0;
}

.banner_txt {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    padding: 0 65px 0 0;
}

.banner_txt h1 {
    font-size: 47px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: 'FuturaPT-Heavy';
    margin-bottom: 18px;
}

.banner_txt p {
    color: #fff;
    font-size: 19px;
}

.banner_form {
    vertical-align: middle;
    display: inline-block;
    width: 49.5%;
    background: rgba(28, 117, 188, 0.92);
    padding: 25px 60px;
}

.banner_form h2,
.inner_form h2 {
    font-size: 30px;
    color: #fff;
    font-family: 'FuturaPT-Medium';
    margin: 0 0 25px;
}

.banner_form .form-control,
.inner_form .form-control {
    height: 44px;
    border: 2px solid #5a97c8;
    box-shadow: none;
    background: none;
    color: #fff;
    padding: 0 18px;
    border-radius: 0px;
    font-family: 'Futura PT Book';
    letter-spacing: 1px;
    font-size: 16px;
}

.banner_form select.form-control option {
    background: #ffffff none repeat scroll 0 0;
    color: #000;
}

.banner_form .form-control:focus,
.inner_form .form-control:focus {
    border-color: #fff;
}

.banner_form .form-control.firstCap,
.inner_form .form-control.firstCap {
    height: 70px;
    resize: none;
    padding: 10px 18px;
    margin-bottom: 30px;
}

.inner_form .form-control.firstCap {
    height: 120px;
}

.banner_form select.form-control,
.inner_form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: url(../images/select.png) no-repeat scroll right center;
}

select::-ms-expand {
    display: none;
}

.banner_form .form-control::-moz-placeholder,
.inner_form .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.banner_form .form-control:-ms-input-placeholder,
.inner_form .form-control:-ms-input-placeholder {
    color: #fff
}

.banner_form .form-control::-webkit-input-placeholder,
.inner_form .form-control::-webkit-input-placeholder {
    color: #fff
}

.bmt_part {
    display: block;
    width: 100%;
}

.captcha_div {
    float: left;
}

.captcha_div img {
    border-radius: 3px;
}

.sbmt_btn {
    float: right;
}

input[type="text"] {
    text-transform: capitalize;
}

.sbmt_btn input[type="submit"],
.sbmt_btn input[type="button"] {
    background: #074576;
    color: #fff;
    width: 178px;
    height: 52px;
    text-transform: capitalize;
    border: 0 none;
    font-family: 'FuturaPT-Medium';
    font-size: 23px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-radius: 3px;
}

.sbmt_btn input[type="submit"]:hover,
.sbmt_btn input[type="button"]:hover,
.sbmt_btn input[type="submit"]:focus,
.sbmt_btn input[type="button"]:focus {
    background: #1c75bc;
    box-shadow: 0 3px 8px #074576;
}

.title {
    font-size: 36px;
    color: #000;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    letter-spacing: 3px;
}

/*-------------- Services section ---------------*/

.services {
    padding: 65px 0;
    text-align: center;
}

.services .col-md-3:last-child .srvc_box img {
    width: 80px;
}

.srvc_box {
    padding: 0px 32px;
}

.srvc_box figure {
    height: 150px;
    margin: auto;
}

.srvc_box figure img {
    width: 100px;
}

.srvc_box h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    margin: 0 0 10px;
    line-height: 1.3;
}

.srvc_box p {}

.services .title {
    margin: 0 0 30px;
}

.seo_audit {
    background: #ecf7ff;
    padding: 65px 0;
}

.seo_audit_info {
    float: left;
    width: 55%;
    padding: 0 0 0 10%;
}

.seo_audit_info form {
    width: 70%;
    margin: 20px 0 0;
}

.seo_audit_info form .form-control {
    height: 50px;
    padding: 0 15px;
    border: 1px solid #e0e0e0;
    box-shadow: none;
}

.seo_sbmt_btn {
    width: 299px;
    height: 65px;
    background: #1c75bc;
    color: #fff;
    font-size: 23px;
    margin: 30px 0 0;
    border-radius: 5px;
    box-shadow: none;
    border: 0 none;
    font-family: 'FuturaPT-Medium';
}

.seo_audit_img {
    position: absolute;
    right: 0;
}

.form-group p {
    float: left;
    margin: 0 15px 0 0;
}

footer {
    background: #2c2c2c;
    padding: 45px 0 0;
}

footer h2 {
    color: #fff;
    text-transform: uppercase;
    line-height: 1.4;
    margin: 0 0 15px;
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    letter-spacing: 2px;
}

footer p,
footer p a {
    color: #747474;
}

footer p a:hover,
footer p a:focus {
    color: #fff;
}

.foot-box1 {
    padding: 0 23% 0 0;
}

.foot-box1 p {
    margin: 0 0 20px;
}

.foot-box1 p:last-child {
    margin-bottom: 0;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    color: #747474;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 17px;
    line-height: 1.4;
    margin: 0 0 10px;
    font-family: 'FuturaPT-Light';
}

footer ul li a {
    color: #747474;
}

footer ul li a:hover,
footer ul li a:focus {
    color: #fff;
}

.bx {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0 0 25px;
}

.foot_icon {
    width: 12%;
    float: left;
    margin-right: 10px;
}

.foot_icon i {
    color: #1c74bb;
    font-size: 30px;
}

.foot-box3 {
    padding: 0 12% 0 0;
}

.foot-box4 {
    float: right;
    margin-top: 50px;
}

.foot-box4 a {
    display: inline-block;
}

.social_connects ul li {
    display: inline-block;
    float: left;
    margin: 0.5px;
}

.social_connects ul li a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #5b5b5b;
    line-height: 50px;
    color: #bdbdbd;
    font-size: 20px;
}

.social_connects ul li a:hover,
.social_connects ul li a:focus {
    color: #fff;
    background: #1c75bc;
}

.social_connects {
    margin-top: 90px;

}

.social_connects h2 {
    margin: 0 0 24px;
}

.copyright_div {
    margin: 40px 0 0;
    padding: 22px 0;
    background: #161616;
    text-align: center;
}

.copyright_div p {
    color: #acaaaa;
    font-size: 17px;
    font-family: 'FuturaPT-Light';
}

.pwrd_by a {
    color: #00bdef;
}

.pwrd_by a:hover,
.pwrd_by a:focus {
    color: #fff;
}

/*-------------- Copyright ---------------*/

.copyright_div ul {
    text-align: center;
}

.copyright_div ul li {
    display: inline-block;
    line-height: normal;
}

.copyright_div ul li a {
    border-right: 2px solid #a2a2a2;
    padding: 0px 10px;
    line-height: normal;
}

.copyright_div ul li:last-child a {
    border-right: 0 none;
    padding-right: 0;
}

.copyright_div ul li:first-child a {
    padding-left: 0;
}

.copyright_div .scl_links {
    margin: -2px 0px 0 0;
    float: right;
}

.copyright_div .scl_links li {
    margin: 0 0 0 10px;
}

.copyright_div .scl_links li a {
    padding: 0;
    font-size: 20px;
    border: 0 none;
}

/*-------------- Skills ---------------*/

.skills {
    background: #000e1c;
    padding: 110px 0;
    position: relative;
}

.skills:after {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #003060;
    top: 0;
}

.skills .container {
    position: relative;
    z-index: 1;
}

.lft_area {
    float: left;
    width: 30%;
    padding: 0 0 0 8%;
}

.single_skill {
    margin: 0 0 100px;
}

.single_skill:last-child {
    margin: 0;
}

.single_skill h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'FuturaPT-Medium';
    margin: 0 0 15px;
}

.single_skill span {
    width: 38px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.single_skill p {
    color: #fff;
    line-height: 1.8;
}

.rgt_area {
    float: right;
    width: 30%;
    padding: 0 8% 0 0;
}

.mid_area {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 30%;
}

.mid_area figure {
    width: 196px;
    height: 196px;
    margin: auto;
    background: #fff;
    border: 5px solid #1c75bc;
    border-radius: 50%;
    overflow: hidden;
    padding: 0 15px;
}

.mid_area figure img {
    width: 100%;
}

.mid_area span {
    display: block;
    width: 100px;
    position: absolute;
}

.top_lft {
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    top: -35px;
    left: 0;
}

.top_rgt {
    right: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    top: -35px;
}

.bottom_lft {
    left: 0;
    bottom: -35px;
}

.bottom_rgt {
    right: 0;
    bottom: -35px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

/*-------------- Home Page Content ---------------*/

.home_page-content {
    padding: 90px 0;
}

.home_page-content p {
    margin: 0 0 25px;
}

.home_page-content p:last-of-type {
    margin: 0;
}

.home-contact {
    background-size: cover !important;
    padding: 72px 0;
    position: relative;
}

.home-contact:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.35);
}

.cntct_info .title {
    margin: 0 0 28px;
}

.cntct_info {
    padding: 0 16% 0 0;
}

.cntct_info .form-control {
    height: 52px;
    border: 2px solid #fff;
    box-shadow: none;
    border-radius: 0;
    color: #525252;
    padding: 15px;
    font-family: 'Futura PT Book';
    letter-spacing: 1px;
}

.cntct_info .form-control::-moz-placeholder {
    color: #525252;
}

.cntct_info textarea.form-control {
    height: 140px;
    resize: none;
}

.cntct_info .form-control:focus {
    -webkit-box-shadow: inset 0 0 0 1px #1c75bc;
    box-shadow: inset 0 0 0 1px #1c75bc;
    border-color: #1c75bc;
}

.btm_part {
    margin: 30px 0 0;
}

.btm_part .sbmt_btn input[type="submit"],
.btm_part .sbmt_btn input[type="button"] {
    background: #1c75bc;
    color: #fff;
    width: 180px;
    height: 64px;
}

.abt_project {
    border: 10px solid #fff;
    padding: 78px 40px 78px 67px;
}

.abt_project h1 {
    font-size: 70px;
    color: #000;
    text-transform: uppercase;
    font-family: 'FuturaPT-Demi';
    letter-spacing: 4px;
}

.abt_project h2 {
    font-size: 38px;
    color: #000;
    font-family: 'FuturaPT-Demi';
    line-height: 1.4;
    letter-spacing: 4px;
    margin: 12px 0 35px;
}

.abt_project h2 span {
    text-transform: uppercase;
}

.abt_project p {
    color: #000;
    line-height: 1.7;
    letter-spacing: 1px;
}

.key_points {
    padding: 84px 0;
}

.key_points h2 {
    margin: 0 0 20px;
}

.key_points li {
    float: left;
    width: 50%;
    color: #000;
    font-size: 19px;
    margin: 0 0 10px;
    position: relative;
    font-family: 'Futura PT Book';
    padding-left: 30px;
}

.key_points li::before {
    position: absolute;
    content: "\f178";
    font-family: fontawesome;
    left: 0;
}

.sectors_points {
    padding-left: 10%;
}

.globe {
    position: relative;
    margin: 70px 0 0;
}

.globe::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 6px solid #ececec;
    left: -35px;
    top: -50px;
    z-index: -1;
}

.post_section {
    padding: 60px 0;
    background: #f3f3f3;
    text-align: center;
}

.post_section .view-all {
    font-size: 18px;
    color: #000000;
    background: #ffffff;
    border: 1px solid #c0c0c0;
    width: 168px;
    height: 59px;
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out 0s;
}

.post_section .view-all:hover {
    background: #1c75bc;
    color: #ffffff;
}

.post_section h2 {
    margin: 0 0 12px;
}

.post_box {
    background: #fff;
    padding: 30px;
    text-align: left !important;
    margin: 40px 0 0;
}

.date {
    font-size: 16px;
    color: #323232;
    text-transform: uppercase;
    margin: 0 0 15px;
    display: block;
    font-family: 'FuturaPT-Light';
}

.post_box h2 {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: 'FuturaPT-Medium';
}

.post_box ul {
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    margin: 20px 0;
}

.post_box li {
    float: left;
    width: auto;
    font-size: 14px;
    font-family: 'FuturaPT-Light';
    position: relative;
    text-transform: uppercase;
}

.post_box li:first-child {
    margin: 0 40px 0px 0;
}

.post_box li:first-child:before {
    content: "";
    position: absolute;
    right: -18px;
    height: 20px;
    width: 1px;
    background: #323232;
}

.post_box li:first-child:after {
    content: "";
    position: absolute;
    right: -19px;
    height: 20px;
    width: 1px;
    background: #ebebeb;
}

.post_box li a {
    color: #323232;
}

.post_box .fa.fa-user-o {
    color: #72dbf6;
    margin: 0 5px 0px 1px;
}

.post_box .fa.fa-tag {
    color: #f7a05b;
    margin: 0 5px 0px 1px;
}

.post_box p {
    color: #000;
    margin: 0 0 30px;
}

.rd_mr {
    float: left;
    color: #1c75bc;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Futura PT Book';
    position: relative;
}

.rd_mr::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #1c75bc;
    height: 1px;
    width: 100%;
}

.cmnts {
    font-size: 16px;
    color: #323232;
    float: right;
    font-family: 'FuturaPT-Light';
    text-transform: uppercase;
}

.cmnts:hover,
.cmnts:focus {
    color: #d16ab2;
}

.cmnts .fa.fa-commenting-o {
    color: #d16ab2;
    margin: 0 5px 0 0;
}

.subscription_help_section {
    padding: 84px 0;
    background: #fff;
    border-top: 2px solid #f3f3f3;
}

.help_us {
    float: left;
    width: 60%;
}

.subscription_help_section h2 {
    color: #000;
    font-size: 45px;
    margin: 0 0 30px;
}

.help_us ul {
    margin: 50px 0 0;
    clear: both;
}

.help_us li {
    float: left;
    margin: 0 18px 0 0;
}

.help_us li a {
    display: block;
    width: 160px;
    height: 56px;
    line-height: 52px;
    border: 2px solid #cecece;
    text-align: center;
    font-size: 25px;
    color: #1f75bc;
    border-radius: 5px;
}

.help_us li a:hover,
.help_us li a:focus {
    border-color: #1f75bc;
}

.signup_newsltr {
    float: right;
    width: 40%;
    text-align: left;
}

.signup_newsltr form {
    margin: 46px 0 0;
}

.signup_newsltr form input {
    height: 60px;
    border: 1px solid #c9c9c9;
    border-right: 0 none;
    padding: 0 15px;
    width: 75%;
    font-size: 18px;
    font-family: 'Futura PT Book';
    float: left;
}

.signup_newsltr form input:focus {
    border-color: #1c75bc;
}

.signup_newsltr form button {
    width: 25%;
    float: left;
    height: 60px;
    background: #1c75bc;
    font-size: 23px;
    color: #fff;
    border: 1px solid #1c75bc;
    border-radius: 0 5px 5px 0px;
    font-family: 'FuturaPT-Medium';
}

.signup_newsltr form button:hover,
.signup_newsltr form button:focus,
.rqst_btn:hover,
.rqst_btn:focus,
.seo_sbmt_btn:hover,
.seo_sbmt_btn:focus {
    background: #000E1C;
    color: #fff;
    border-color: #000E1C;
}

.internal-banner {
    height: 570px;
    position: relative;
    overflow: hidden;
}

.internal-banner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
}

.internal-banner .container,
.page-banner .container {
    position: relative;
    height: 100%;
}

.contact_section {
    padding: 38px 0 80px;
    border-bottom: 1px solid #e8e8e8;
}

/*-------------- Breadcrumb ---------------*/

.breadcrumb {
    background: none;
    padding: 0px;
}

.breadcrumb ul {
    padding: 0;
    margin: 40px 0 0;
}

.breadcrumb ul li {
    float: left;
    font-size: 15px;
    position: relative;
    margin: 0 5px 0 0;
    font-family: 'Futura PT Book';
}

.breadcrumb ul li.active a {
    color: #1c75bc;
}

.breadcrumb ul li.active a:hover {
    color: #000000;
}

.breadcrumb ul li:after {
    margin: 0 0 0 3px;
    content: "/";
    color: #000;
}

.breadcrumb ul li:last-child:after {
    display: none;
}

.breadcrumb ul li a {
    color: #000000;
    font-family: 'Futura PT Book';
}

.breadcrumb ul li a:hover {
    color: #1c75bc;
}

.contact_section h2 {
    font-size: 29px;
    color: #000;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    margin: 0 0 20px;
}

.contact_form_area {
    padding: 55px 40px;
    box-shadow: 0 0 8px #ddd;
    overflow: hidden;
    margin: 0 13% 0 0;
}

.contact_form_area .form-control {
    height: 50px;
    border: 1px solid #e4e4e4;
    border-radius: none;
    box-shadow: none;
}

.contact_form_area .form-control:focus {
    border: 1px solid #1c75be;
}

.contact_form_area textarea.form-control {
    height: 128px;
    resize: none;
}

.contact_form_area .sbmt_btn {
    float: left;
    margin-left: 30px;
}

.contact_dtls_info {
    float: right;
    width: auto;
}

.contact_dtls_info .foot_icon i {
    background: #1c74bb;
    font-size: 30px;
    color: #fff;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
}

.contact_dtls_info .foot_icon {
    width: 18%;
    display: inline-block;
    vertical-align: middle;
}

.contact_dtls_info .foot_info p,
.contact_dtls_info .foot_info p a {
    font-size: 25px;
    color: #000;
    line-height: 1.5;
}

.contact_dtls_info .foot_info p a.ph {
    font-size: 20px;
}

.contact_dtls_info .foot_info {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}

.contact_dtls_info .foot_info p a:hover,
.contact_dtls_info .foot_info p a:focus {
    color: #1c74bb;
}

/*--------- About Us Section ----------*/

.aboutus_section {
    padding: 50px 0 65px;
    text-align: center;
}

h2.ttl {
    font-size: 29px;
    color: #000;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    margin: 0 0 22px;
}

.aboutus_section p,
.req_section p,
.blog-content-wrap p,
.product-content-wrap p,
.content-wrap p,
.services-wrap p,
.info-section .info-sec p,
.content-wrap p,
.our-value-wrapper p {
    color: #000;
    letter-spacing: 0.1em;
}

.req_section {
    padding: 75px 0;
    text-align: center;
    background: #f9f9f9;
}

.req_section p {
    margin-bottom: 47px;
}

.req_section li {
    margin: 0 10px;
}

.req_section li:first-child a {
    background: #1c75bc;
    color: #ffffff;
    border-color: #1c75bc;
}

.req_section li:first-child:hover a {
    background: #ffffff;
    border-color: #000000;
    color: #000000;
}

.req_section li:nth-child(2):hover a {
    background: #1c75bc;
    border-color: #1c75bc;
    color: #ffffff;
}

.req_section li a {
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 14px 55px;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    font-family: "FuturaPT-Demi";
    display: inline-block;
    transition: all 0.3s ease-in-out 0s;
    letter-spacing: 2px;
}

.our_spclties {
    background-size: cover !important;
    position: relative;
    padding: 60px 0;
}

.our_spclties:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(28, 117, 188, 0.9);
}

.main_lft {
    width: 66%;
    display: inline-block;
    vertical-align: middle;
}

.main_rgt {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    padding: 4% 0 0 4%;
}

.our_spclties h3 {
    font-size: 29px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Futura PT Book';
}

.main_rgt ul {
    margin: 32px 0 0;
}

.main_rgt ul li {
    margin: 0 0 20px;
}

.main_rgt ul li figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: #fff;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: middle;
}

.main_rgt ul li figure img {
    width: 18px;
}

.main_rgt ul li span {
    display: inline-flex;
    vertical-align: middle;
    color: #fff;
    font-size: 17px;
    margin: 0 0 0 15px;
    font-family: 'FuturaPT-Light';
}

.our_mission {
    padding: 70px 0;
    text-align: center;
}

.our_mission p {
    color: #000;
    letter-spacing: 0.1em;
}

.do_lft {
    height: 500px;
    float: left;
    width: 50%;
    background-position: right!important;
}

.do_rgt {
    float: left;
    width: 50%;
    background: #1c75bc;
    padding: 75px 200px 64px 53px;
    height: 500px;
}

.do_rgt h2,
.do_rgt p {
    color: #ffffff;
}

.do_rgt p {
    letter-spacing: 0.1em;
}

/*---------- thank you page ----------*/

.thank_main_section {
    float: left;
    display: block;
    position: relative;
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0px auto 0;
}

.main_sec {
    overflow: hidden;
    background: #f1f1f1;
}

.thank_main_section .tahnk_you_box {
    display: block;
    padding: 130px 0 100px;
    width: 100%;
}

.thank_main_section .tahnk_you_box h1 {
    margin-bottom: 50px;
}

.thank_main_section .tahnk_you_box h1 i {
    font-size: 70px;
    line-height: 115px;
    color: #2da725;
    border: 4px solid #2da725;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    width: 120px;
    height: 120px;
}

.thank_main_section .tahnk_you_box p {
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #2da725;
    background: rgba(115, 208, 156, 0.3);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    color: #2da725;
}

/*---------- Blog Template ----------*/

.blog-single-wrapper {
    padding: 25px 0 70px;
}

.blog-content-wrap p,
.blog-content-wrap img,
.blog-content-wrap .blog-border-sec,
.product-content-wrap p,
.services-wrap p,
.content-wrap p {
    margin-bottom: 32px;
}

.border-section {
    border-bottom: 1px solid #e9e9e9;
}

.blog-content-wrap .share-post-wrap h5 {
    font-size: 20px;
    color: #000000;
    font-family: 'FuturaPT-Medium';
    margin-bottom: 20px;
}

.blog-content-wrap .share-client {
    margin-bottom: 20px;
}

.blog-content-wrap .share-post-wrap p {
    color: #707070!important;
    font-size: 19px;
    font-family: 'FuturaPT-Light';
    letter-spacing: 0;
}

.blog-content-wrap {
    padding-left: 50px;
}

/*---------- Product Template ----------*/

.mrgn-btm-xs {
    margin-bottom: 30px;
}

.product-content-wrap {
    padding: 40px 0;
}

.product-content-sec img {
    padding-left: 30px;
}

.product-content-wrap .product-content-sec {
    padding-bottom: 30px;
}

.product-content-wrap .product-content-sec p:last-child {
    margin-bottom: 0px;
}

.product-content-sec .grid-wrap .grid-sec {
    margin-bottom: 20px;
}

.product-content-sec .grid-wrap .grid-sec:nth-child(2) {
    padding-right: 20px;
}

.product-content-sec .grid-wrap .grid-sec:last-child {
    padding-left: 0px;
}

.product-content-sec .grid-wrap img {
    height: 250px;
    padding-left: 0;
    width: 100%;
}

.product-content-sec .grid-wrap {
    padding-right: 30px;
}

.service-list-wrap {
    background: #f5f5f5;
    padding: 40px 30px;
}

.service-list-wrap li div {
    color: #000000;
    font-family: 'Futura PT Book';
    font-size: 18px;
    margin-left: 28px;
}

.service-list-wrap li::before {
    color: #6cbf5a;
    content: "";
    font-family: FontAwesome;
    font-size: 22px;
    position: absolute;
    top: -2px;
}

.service-list-wrap li {
    margin-bottom: 20px;
    position: relative;
}

.product-content {
    padding-right: 60px;
}

/*---------- Pricing Plan ----------*/

.pricing-plan-wrap .pricing-plan-sec.pack-one {
    background: #70a2c9;
}

.pricing-plan-wrap .pricing-plan-sec.pack-one h3 {
    border-bottom: 2px solid #5f8eb3;
}

.pricing-plan-wrap .pricing-plan-sec.pack-two {
    background: #8ac25e;
}

.pricing-plan-wrap .pricing-plan-sec.pack-two h3 {
    border-bottom: 2px solid #79ae4e;
}

.pricing-plan-wrap .pricing-plan-sec.pack-three {
    background: #e4a309;
}

.pricing-plan-wrap .pricing-plan-sec.pack-three h3 {
    border-bottom: 2px solid #c58d08;
}

.pricing-plan-wrap .pricing-plan-sec h3 {
    text-transform: uppercase;
    font-size: 32px;
    color: #ffffff;
    font-family: 'FuturaPT-Medium';
    padding: 18px;
    margin-bottom: 15px;
}

.pricing-plan-wrap .pricing-plan-sec span {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Futura PT Book';
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
}

.pricing-plan-wrap .pricing-plan-sec h2 {
    font-size: 49px;
    font-family: 'FuturaPT-Demi';
    color: #ffffff;
    margin-bottom: 50px;
}

.pricing-plan-wrap .pricing-plan-sec .buy-now-sec {
    background: #ffffff;
    border: 2px solid #d4d4d4;
    border-top: none;
}

.pricing-plan-wrap .pricing-plan-sec .buy-now-sec p {
    color: #000000;
    font-size: 22px;
    font-family: 'Futura PT Book';
    padding: 15px;
    border-bottom: 1px solid #d4d4d4;
}

.pricing-plan-wrap .pricing-plan-sec .buy-now-sec a {
    font-size: 25px;
    color: #ffffff;
    font-family: 'FuturaPT-Medium';
    width: 200px;
    margin: 30px;
    display: inline-block;
    padding: 12px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out-0s;
}

.pricing-plan-wrap .pricing-plan-sec .buy-now-sec a:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
}

.pricing-plan-wrap .pricing-plan-sec.pack-one .buy-now-sec a {
    background: #70a2c9;
}

.pricing-plan-wrap .pricing-plan-sec.pack-two .buy-now-sec a {
    background: #8ac25e;
}

.pricing-plan-wrap .pricing-plan-sec.pack-three .buy-now-sec a {
    background: #e4a309;
}

.buy-now-sec {
    position: relative;
}

.buy-now-sec:after,
.buy-now-sec:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.buy-now-sec:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 18px;
    margin-left: -18px;
}

.buy-now-sec:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 18px;
    margin-left: -18px;
}


/*---------- Custom Class ----------*/

.mrgn-btm-sm {
    margin-bottom: 50px;
}

.mrgn-btm-xs {
    margin-bottom: 35px;
}

.pad-btm-xs {
    padding-bottom: 30px;
}

/*---------- Pagination ----------*/

.pagination {
    border-radius: 0px;
}

.pagination span:first-child,
.pagination span:first-child:hover {
    background: none;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.pagination span {
    margin-right: -4px !important;
}

.pagination a {
    margin-right: -2px !important;
}

.pagination span,
.pagination a {
    background: #fafafa none repeat scroll 0 0;
    color: #1b1b1b;
    font-family: "FuturaPT-Medium";
    font-size: 15px;
    letter-spacing: 0.1em;
    padding: 14px 22px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    border-right: 3px solid #ebebeb;
    display: inline-block;
}

.pagination span:first-child,
.pagination a:last-child {
    border: none;
}

.pagination span:first-child:hover,
.pagination span:last-child:hover {
    color: #1b1b1b;
}

.pagination span:hover,
.pagination a:hover {
    background: #1c75bc;
    color: #ffffff;
}

/*---------- Inner Form Section ----------*/

.inner_form {
    vertical-align: middle;
    display: inline-block;
    background: rgba(28, 117, 188, 0.92);
    padding: 30px;
    margin: 30px 0;
}

.inner_form h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.center-block {
    float: none;
}

/*---------- Sidebar ----------*/

.sidebar .widget {
    margin-bottom: 2.5em;
}

.sidebar .widget ul {
    list-style: none;
}

.sidebar .widget .widget-title {
    text-transform: uppercase;
}

/*----- Widget Panel Info -----*/

.sidebar .widget-panel-info:after {
    content: "";
    display: block;
    height: 1px;
    margin-top: 15px;
    width: 60px;
}

.sidebar .widget-panel-info h4 {
    font-size: 22px;
    color: #231f20;
    font-family: 'FuturaPT-Light';
    letter-spacing: 0.1em;
}

/*----- Widget Search -----*/

.sidebar .widget_search #s {
    border-color: #e2e2e2;
    border-radius: 0;
    box-shadow: none;
    height: 55px;
    margin-bottom: 0;
    padding: 10px 50px 10px 20px;
}

.sidebar .widget_search #searchsubmit {
    position: absolute;
    right: 15px;
    top: 15px;
    font-family: FontAwesome;
    background: none;
    border: none;
    font-size: 16px;
    color: #8e8e8e;
    transition: all 0.3s ease-in-out 0s;
}

.sidebar .widget_search #searchsubmit:hover {
    color: #1c75bc;
}

.sidebar .form-control::-moz-placeholder {
    color: #231f20;
    font-size: 18px;
    font-family: 'FuturaPT-Light';
}

.sidebar .widget_search form .form-group {
    margin-bottom: 0;
}

.relative {
    position: relative;
}

/*----- Widget Archive -----*/

.widget.widget_archive,
.widget.widget_categories {
    border: 1px solid #e2e2e2;
    padding: 30px 25px;
}

/*----- Widget Categories -----*/

.widget.widget_categories .cat-item,
.widget.widget_archive li {
    position: relative;
}

.widget.widget_categories .cat-item a,
.widget.widget_archive li a {
    display: block;
    padding: 7px 0px;
    text-transform: capitalize;
    -webkit-transition: padding 0.2s linear 0s;
    -o-transition: padding 0.2s linear 0s;
    transition: padding 0.2s linear 0s;
}

.widget.widget_archive li a,
.widget.widget_categories li a {
    color: #231f20;
    font-size: 16px;
    font-family: 'FuturaPT-Light';
    transition: all 0.3s ease-in-out 0s;
}

.widget.widget_categories .cat-item a:hover,
.widget.widget_archive li a:hover {
    color: #1c75bc;
}

.widget.widget_archive li a:hover {
    padding-left: 5px;
}

.widget.widget_categories .cat-item a:before,
.widget.widget_archive li a:before {
    content: "\f0da";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    color: #1c75bc;
}

.widget.widget_categories li.cat-item,
.widget.widget_archive li {
    border-bottom: 1px solid #e9e9e9;
}

.widget.widget_categories li.cat-item:last-child,
.widget.widget_archive li:last-child {
    border: none;
}

.widget.widget_categories li.cat-item a,
.widget.widget_archive li a {
    margin-left: 22px;
}

/*---------- Client Logo Slider ----------*/

.client-logo-wrapper {
    background: #f1fcff;
    padding: 60px 0;
}

.client-logo-slider {
    width: 100%;
    overflow: hidden;
}

.client-logo-wrapper .slick-slide {
    display: inline-block !important;
    float: none;
    height: 100%;
    min-height: 1px;
    text-align: center;
}

.client-sec img {
    display: inline-block;
}

/*---------- Website Design ----------*/

.no-pad {
    padding-left: 0px;
    padding-right: 2px;
    margin-bottom: 2px;
}

.no-pad:nth-child(4),
.no-pad:nth-child(8),
.no-pad:nth-child(12) {
    padding-right: 0;
}

.content-wrap {
    padding: 50px 0;
}

.portfolio-sec-wrapper h2 {
    margin-bottom: 60px;
}

/*----- Filters -----*/

#filters li {
    float: none;
    display: inline-block;
}

#filters li span {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

#filters {
    margin-bottom: 40px;
    text-align: center;
}

#filters li span {
    font-size: 18.89px;
    color: #434343;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    letter-spacing: 1.5px;
    display: inline-block;
    padding: 11px 35px;
}

#filters li span.active {
    background: #1c75bc;
    color: #ffffff;
    border: 1px solid #1c75bc;
}

#filters li.active a:hover {
    background: #ffffff;
    color: #1c75bc;
}

.gallery-grid-sec {
    position: relative;
    cursor: pointer;
}

.gallery-grid-content {
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 0;
    text-align: center;
    transform: scale(0, 0);
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0se;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    background: rgba(28, 117, 188, 0.8);
    overflow: hidden;
}

.gallery-grid-content h3 a {
    text-transform: uppercase;
}

.gallery-grid-content h3 {
    margin-bottom: 15px;
}

.gallery-grid-content h3 a,
.gallery-grid-content p {
    color: #ffffff;
    letter-spacing: 0.1em;
}

.gallery-grid-sec img {
    width: 100%;
    height: 100%;
}

.gallery-grid-sec:hover .gallery-grid-content {
    opacity: 1;
    transform: scale(1, 1);
}

.gallery-grid-content::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.overlay-holder {
    display: inline-block;
    height: auto;
    padding: 10px;
    vertical-align: middle;
    width: 97%;
}

#portfoliolist {
    overflow: hidden;
}

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    float: left;
    margin: 0;
    overflow: hidden;
    width: 24.9%;
    margin-right: 2px;
    margin-bottom: 2px;
}

#portfoliolist .portfolio:nth-child(4),
#portfoliolist .portfolio:nth-child(8),
#portfoliolist .portfolio:nth-child(12) {
    margin-right: 0;
}

/*---------- Seo Template ----------*/

.services-wrapper {
    padding-bottom: 30px!important;
    padding-bottom: 30px!important;
}

.services-wrapper .service-content {
    margin-bottom: 45px;
    padding-bottom: 15px;
}

.custom-seo-wrap .custom-sec {
    background: #f9f9f9 none repeat scroll 0 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 25px;
    position: relative;
}

.custom-seo-wrap .custom-sec .info-img {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -38px;
}

.custom-seo-wrap h2 {
    margin-bottom: 80px;
}

.custom-seo-wrap .custom-sec h5 {
    padding-top: 50px;
    margin-bottom: 20px;
}

.custom-seo-wrap .custom-seo {
    padding: 0 10px;
}

.services-sec-content {
    padding-right: 68px;
    width: 78%;
}

.service-sidebar-content {
    width: 22%;
}

.custom-seo-wrap .custom-sec h5 a {
    color: #000000;
    font-family: "FuturaPT-Medium";
    font-size: 20px;
    text-transform: uppercase;
}

.custom-seo-wrap .custom-sec span {
    font-family: 'FuturaPT-Medium';
    font-size: 37.27px;
    color: #c5c5c5;
    display: block;
    line-height: 35px;
}

.service-sidebar {
    background: #f9f9f9;
    padding: 20px 0 25px;
}

.service-sidebar h5 {
    color: #000000;
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    text-transform: uppercase;
    border-bottom: 1px solid #cecece;
    display: block;
    padding: 12px 30px;
}

.service-sidebar ul li a {
    color: #000000;
    font-size: 15px;
    font-family: 'Futura PT Book';
    text-transform: uppercase;
    border-bottom: 1px solid #cecece;
    display: block;
    padding: 12px 30px;
    transition: all 0.3s ease-in-out 0s;
}

.service-sidebar ul li:hover a,
.service-sidebar ul li.active a {
    color: #1c75bc;
}

.service-sidebar ul li:hover a {
    padding-left: 38px;

}

.req-form-wrapper {
    background-position: center;
    background-size: cover;
    height: auto;
    padding: 70px 0;
}

.req-form-wrapper input[type="text"],
.req-form-wrapper input[type="email"],
.req-form-wrapper textarea {
    border-radius: 0;
    border-color: #ffffff;
    height: 44px;
    box-shadow: none;
    color: #000000;
    font-family: 'Futura PT Book';
    letter-spacing: 1px;
}

.req-form-wrapper textarea,
.req-form-wrapper input[type="text"],
.req-form-wrapper input[type="email"] {
    padding: 15px 20px;
}

.req-form-wrapper .form-control::-webkit-input-placeholder {
    color: #000000;
}

.req-form-wrapper .form-control::-moz-placeholder {
    color: #000000;
}

.req-form-wrapper .form-control::-ms-input-placeholder {
    color: #000000;
}

.req_inner_form .form-group textarea:-ms-input-placeholder {
    color: #000000 !important;
    opacity: 1 !important;
}

.req-form-wrapper input[type="text"]:focus,
.req-form-wrapper input[type="email"]:focus,
.req-form-wrapper textarea:focus {
    border-color: #1c75bc;
}

.req-form-wrapper textarea {
    resize: none;
    height: 141px;
    margin-bottom: 25px;
}

.req-form-wrapper .bmt_part .sbmt_btn,
.req-form-wrapper .bmt_part .captcha_div {
    float: inherit;
}

.req-form-wrapper .bmt_part .sbmt_btn input[type="submit"] {
    background: #1c75bc;
    display: inline-block;
}

.req-form-wrapper .bmt_part .captcha_div {
    margin-bottom: 25px;
}

.our-value-wrapper {
    background: #f9f9f9;
    padding: 80px 0;
}

.our-value-wrapper .our-value-sec {
    margin-bottom: 20px;
}

.our-value-wrapper .our-value {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 40px;
    padding-top: 40px;
    height: 290px;
}

.our-value-wrapper .our-value:nth-child(5),
.our-value-wrapper .our-value:nth-child(6) {
    border-bottom: none;
    padding-bottom: 0;
}

.our-value-wrapper .our-value:nth-child(odd) {
    border-right: 1px solid #e6e6e6;
    padding-right: 45px;
}

.our-value-wrapper .our-value:nth-child(even) {
    padding-left: 45px;
}

.our-value-sec .img-sec {
    width: 11%;
    float: left;
    margin-right: 10px;
}

.our-value-sec .img-title {
    width: 82%;
    float: left;
}

.our-value-sec .img-title h5 {
    color: #000000;
    font-size: 21px;
    font-family: 'Futura PT Book';
}

.our-value-sec .img-sec img {
    width: 100%;
}

.d-flex {
    display: flex;
}

.j-content {
    justify-content: space-between;
}

.align-center {
    align-self: center;
}

.pricing-plan-wrap {
    padding: 70px 0;
}

/*---------- Custome Section ----------*/

.custom-section-wrap {
    background: #1c75bc;
    padding: 50px 0;
}

.custom-section-wrap h3,
.custom-section-wrap p {
    color: #ffffff;
}

.custom-section-wrap h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.custom-section-wrap p {
    font-family: 'FuturaPT-Light';
    letter-spacing: 1px;
}

.custom-section-wrap .border-right {
    border-right: 2px solid #2a8bd8;
}

.custom-section-wrap .custom-sec {
    padding: 30px;
}

.custom-section-wrap .custom-sec .img-sec {
    margin-bottom: 30px;
}

/*---------- Services section ----------*/

.services-wrap {
    padding: 40px;
}

.services-wrap .service-img-sec {
    position: relative;
    margin-bottom: 50px;
}

.services-wrap .service-img-sec::before {
    border: 3px solid #f7f7f7;
    content: "";
    height: 480px;
    position: absolute;
    right: 0;
    top: -40px;
    transition: all 0.4s ease-in-out 0s;
    width: 80%;
    z-index: -1;
}

.services-wrap .service-img-sec:hover::before {
    transform: scale(1.1, 1.1);
}

.info-section .info-img {
    width: 10%;
    float: left;
    margin-right: 5px;
    margin-top: -15px;
}

.info-section .info-sec {
    width: 80%;
    float: left;
}

.info-section .info-sec h5 {
    color: #000000;
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    margin-bottom: 20px;
}

/******************************************* MEDIA QUERY STARTS HERE *************************************************/

@media only screen and (max-width: 1600px) {
    .do_rgt {
        padding: 50px 100px 50px 50px;
    }
}

@media only screen and (min-width: 1500px) {
    .container {
        width: 1470px;
    }
    .abt_cntent {
        width: 58%;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1200px) {
    .services-wrap {
        padding: 40px 0px;
    }
}

@media only screen and (max-width:1499px) {
    .home-banner {
        height: 600px;
    }
    .drone_img {
        top: 170px;
        width: 52%;
    }
    .nav_part ul li {
        margin: 0 0 0 35px;
    }
    .copyright_div .col-md-3:first-child {
        padding-right: 0;
        width: 28%;
    }
    .copyright_div .col-md-3:last-child {
        width: 22%;
        padding-left: 0;
    }
    .copyright_div p,
    .copyright_div a {
        letter-spacing: 1px;
        font-size: 14px;
    }
    .copyright_div .scl_links li a {
        font-size: 16px;
    }
    .page-banner {
        height: 360px;
        position: relative;
        overflow: hidden;
    }
    .page-banner .drone_img {
        top: 75px;
    }

    /*----- Header -----*/
    .nav_part ul li {
        margin: 0 0 0 14px;
    }
    .nav_part ul li a,
    .nav_part ul li ul.sub-menu li a {
        font-size: 13px;
    }
    .phn a {
        font-size: 16px;
    }

    /*----- Banner Text -----*/
    .banner_txt h1 {
        font-size: 40px;
    }
    .title {
        font-size: 28px;
    }
    .abt_project h1 {
        font-size: 60px;
    }
    .abt_project h2 {
        font-size: 30px;
        margin: 12px 0 20px;
    }
    .banner_form .form-control,
    .inner_form .form-control {
        font-size: 14px;
    }
    /*----- Contact Info -----*/
    .cntct_info .captcha_div {
        width: 50%;
    }
    .cntct_info .captcha_div img {
        height: 55px;
    }
    .btm_part .sbmt_btn input[type="submit"],
    .btm_part .sbmt_btn input[type="button"] {
        height: 55px;
        width: 160px;
    }

    /*----- Newsletter Sec -----*/
    .subscription_help_section h2 {
        font-size: 35px;
    }
    .help_us li a {
        font-size: 20px;
        line-height: 48px;
        width: 145px;
        text-transform: capitalize;
    }
    .signup_newsltr form input,
    .signup_newsltr form button,
    .help_us li a {
        height: 54px;
    }

    .signup_newsltr forminput:focus {
        border-color: #1c75bc;
    }
    /*----- About Us Sec -----*/
    .main_lft {
        width: 59%;
    }
    .main_rgt {
        width: 40%;
    }
    .subscription_help_section {
        padding: 50px 0;
    }

    /*----- Blog Template -----*/
    .sidebar .widget-panel-info h4 {
        font-size: 19px;
    }
    .blog-content-wrap .share-post-wrap p {
        font-size: 16px;
    }
    .blog-content-wrap .blog-content {
        padding-left: 0px;
    }
    .blog-content-wrap h2 a {
        color: #000000;
    }
    .blog-content-wrap h2 a:hover {
        color: #1c75bc;
    }

    /*----- Font Size -----*/
    h2.ttl {
        font-size: 24px;
    }
    p {
        font-size: 16px;
        line-height: 1.5;
    }

    /*----- Service List Section -----*/
    .service-list-wrap li div {
        font-size: 16px;
        top: -3px;
    }

    .services-wrap .service-img-sec::before {
        height: 400px;
    }

    /*----- Seo Template -----*/
    .custom-seo-wrap .custom-sec h5 a {
        font-size: 16px;
    }
    .pricing-plan-wrap .pricing-plan-sec .buy-now-sec p {
        font-size: 18px;
    }
    .pricing-plan-wrap .pricing-plan-sec h3 {
        font-size: 25px;
    }

    .contact_dtls_info .foot_info p,
    .contact_dtls_info .foot_info p a {
        font-size: 18px;
    }
    .contact_dtls_info .foot_info p a.ph {
        font-size: 15px;
    }
    .post_box li:first-child::before,
    .post_box li:first-child::after {
        content: none;
    }
    .rd_mr,
    .cmnts {
        float: none;
    }
    .cmnts {
        display: block;
    }
    .rd_mr {
        margin-bottom: 8px;
        display: inline-block;
    }
    #portfoliolist .portfolio {
        width: 24.89%;
    }
    .our_spclties .col-md-8 {
        width: 90%;
    }
}

@media only screen and (max-width:1300px) {
    .abt_cntent {
        width: 57%;
    }
}

@media only screen and (max-width: 1280px) {
    .do_rgt {
        padding: 50px;
    }
}
